## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About')}</title></%block>

<section class="container about" style="width: auto;">

  <section class="vision">

## Contact Section ##
    <section class="message left" id="contact">
      <article id="stanford-OpenEdX-contact">
        <h2>${_('Contact Us')}</h2>

        <p>آپ ہم سے رابطہ، مسئلہ یا تجاویز دینا چاہتے ہیں تو پھر ہمیں <a href="mailto:onlinecourses@quranacademy.com">onlinecourses@quranacademy.com</a> پر ای میل کریں</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
